/* global css start  */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
body {
  font-family: "Lexend", serif;
}
/* Button css start  */
.btn {
  color: #111;
  font-family: "Lexend";
  font-size: 20px;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
  text-align: center;
}

.btn-green,
.btn-gray:hover,
.btn-gray.active {
  background: #b4f461;
}

.btn-gray,
.btn-green:hover,
.btn-green.active {
  background-color: #d1d1d1;
}
.tk-btn {
  padding: 10px 16px;
  align-items: center;
  border-radius: 8px;
  background: rgba(17, 17, 17, 0.05);
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 400;
  color: #111111b2;
}
.bdr {
  border-radius: 16px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
header::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #111111b2;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Button css end  */
.form-control {
  border-radius: 8px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  padding: 18px;
  outline: none;
}
.img-ctr {
  aspect-ratio: 522/389;
  object-fit: cover;
  object-position: center;
  height: 100%;
}
/* global css end  */
